<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <title>Atur ulang sandi</title>
  <style>
    body,
    html {
      margin: 0;
      /* height: 100%; */
      /* max-height: 1024px; */
      box-sizing: border-box;
      font-family: "Interstate", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }

    .container {
      height: 100%;

      width: 100%;
      max-width: 768px;
      padding: 12px;
      margin: 0 auto;
    }

    .text-primary {
      color: #0c4694;
    }

    .font-bold {
      font-weight: bold;
    }

    .header {
      margin: 0 auto;
      width: max-content;
      display: flex;
      place-items: center;
      padding-bottom: 48px;
    }

    .header__image {
      padding-right: 16px;
      margin: 0 auto;
      width: max-content;
    }

    .header__image img {
      display: block;
      margin: 0 auto;
    }

    .content {
      /* width: 100%; */
      padding: 40px;
      border: solid #ccc 0.5px;
      max-width: 768px;
    }

    .content__image {
      margin: 0 auto;
      padding-bottom: 52px;
    }

    .content__image img {
      margin: 0 auto;
      display: block;
    }

    .content__info {
      color: #da1414;
      background: #feefef;
      padding: 14px;
      margin: 16px 0;
      text-align: center;
    }

    .button {
      background: #002a76;
      box-sizing: border-box;
      width: 100%;
      max-width: 300px;
      border-radius: 4px;
      padding: 15px;
      color: white;
      font-weight: bold;
      outline: none;
      border: none;
      cursor: pointer;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-top: 32px;
      margin-bottom: 32px;
      text-decoration: none;
    }

    .footer {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      margin-top: 24px;
    }

    .content-sosmed {
      margin-top: 48px;
      margin-bottom: 24px;
      text-align: center;
    }

    .content-sosmed img {
      margin-right: 16px;
    }

    @media screen and (min-width: 680px) {
      .container {
        padding: 40px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="header__image">
        <img src="https://i.ibb.co/1093Qd3/sisupel-logo-ut.png" alt="" />
      </div>
      <div>
        <div class="text-primary">Student Record System</div>
        <div class="text-primary font-bold">UNIVERSITAS TERBUKA</div>
      </div>
    </div>
    <div class="content">
      <div class="content__image">
        <img src="https://i.ibb.co/hH2KPHK/sisupel-Img-head.png" alt="" />
      </div>
      <div class="content__desc">
        <div>
          Halo, {{ name }}
          <br /><br />
          Kata sandimu telah kami atur ulang, tekan tombol
          <strong> "ATUR ULANG KATA SANDI" </strong>, agar kamu mendapatkan
          kata sandi yang baru.
        </div>

        <a class="button" href="{{ url }}">ATUR ULANG KATA SANDI</a>

        <div>
          Terima Kasih,<br />
          <span>Tim Pengembang Aplikasi Universitas Terbuka</span>
        </div>

        <div class="content-sosmed">
          <a href="https://www.facebook.com/"><img src="https://i.ibb.co/cbQnXqd/sisupel-facebook.png" alt="" /></a>

          <a href="https://twitter.com/"><img src="https://i.ibb.co/1M8QhdM/sisupel-twitter.png" alt="" /></a>
          <a href="https://www.linkedin.com/"><img src="https://i.ibb.co/wNPY2yB/sisupel-linkedin.png" alt="" /></a>
        </div>

        <div class="footer">
          SMS: 08119050024 | Fax: (021) 80639011 <br />
          Hallo-UT (021) 1500024 / Layanan Luar Negri (+6221) |
          hallo-ut@ut.ac.id <br />
          Universitas Terbuka | Jl. Cabe Raya Pamulang Tangerang 15418 |
          https://www.ut.ac.id <br />
        </div>
      </div>
    </div>
  </div>
</body>

</html>